@page "/"
@using Azure
@using Azure.AI.OpenAI
@using System.Text.Json
@using System.Text
@using DBChatPro.Models
@using Markdig
@using Microsoft.Extensions.AI
@inject ISnackbar Snackbar
@inject IQueryService queryService
@inject IConnectionService connectionService
@inject IDatabaseService dataService
@inject IConfiguration config
@inject AIService aiService

<PageTitle>Home</PageTitle>
<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Fixed="false">
    <MudGrid Class="my-2">
        @if (Connections.Count == 0)
        {
            <MudItem xs="6">
                <p class="ma-6">No hay ninguna conexión a base de datos. Visita la página de <a href="/connect-db">Conexiones</a> para conectar a una base datos.</p>
            </MudItem>
        }
        else
        {
            // Main data query area
            <MudItem xs="12">
                <h1>
                    Chatea con tu base de datos
                    <div style="float: right">
                        <MudIconButton OnClick="@(() => ToggleDrawer(Anchor.End))" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
                    </div>
                </h1>
                <MudDivider Class="mb-6"></MudDivider>
                <MudGrid>
                    <MudItem xs="8">
                        <MudGrid>
                            <MudItem xs="4">
                                <MudSelect T="string" ValueChanged="LoadDatabase" Value="ActiveConnection.Name"
                                Label="Base de datos">
                                    @foreach (var db in Connections)
                                    {
                                        <MudSelectItem Value="@db.Name" T="string">@db.Name</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="4">
                                <MudSelect @bind-Value="aiPlatform"
                                Label="Platforma de IA"
                                Placeholder="Selecciona una plataforma de IA">
                                    @if (!string.IsNullOrEmpty(config.GetValue<string>("AZURE_OPENAI_ENDPOINT")))
                                    {
                                        <MudSelectItem Value="@("AzureOpenAI")" T="string">Azure OpenAI</MudSelectItem>
                                    }
                                    @if (!string.IsNullOrEmpty(config.GetValue<string>("OPENAI_KEY")))
                                    {
                                        <MudSelectItem Value="@("OpenAI")" T="string">OpenAI</MudSelectItem>
                                    }
                                    @if (!string.IsNullOrEmpty(config.GetValue<string>("OLLAMA_ENDPOINT")))
                                    {
                                        <MudSelectItem Value="@("Ollama")" T="string">Ollama</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="4">
                                <MudTextField Label="Modelo de IA" @bind-Value="aiModel" Placeholder="Modelo de IA o Nombre de Deploy"></MudTextField>
                            </MudItem>
                        </MudGrid>
                        <EditForm Class="mb-6" Model="FmModel" OnSubmit="() => OnSubmit()">
                            <div>
                                <MudTextField @bind-Value="FmModel.Prompt" T="string" Label="Tu consulta" Variant="Variant.Text" Lines="5" />
                            </div>
                            <div>
                                <MudButton Class="my-6" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Primary">Enviar</MudButton>
                            </div>
                        </EditForm>
                        @if (Loading)
                        {
                            <p Class="my-6">@LoadingMessage <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" /></p>
                        }
                        @if (!string.IsNullOrEmpty(Error))
                        {
                            <p Class="my-6"><b>Error:</b> @Error</p>
                        }
                    </MudItem>
                    <MudItem xs="4">
                    </MudItem>
                </MudGrid>
                <MudTabs KeepPanelsAlive="true" Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                    <MudTabPanel Text="Resultados">
                        @if (RowData.Count > 0)
                        {
                            <MudTable SortLabel="Sort By" Items="@RowData.Skip(1)" Dense="@dense" Bordered="@bordered" Striped="@striped">
                                <HeaderContent>
                                    @foreach (var item in RowData.FirstOrDefault()!)
                                    {
                                        <MudTh>@item</MudTh>
                                    }
                                </HeaderContent>
                                <RowTemplate>
                                    @foreach (var item in context)
                                    {
                                        <MudTd DataLabel="item">@item</MudTd>
                                    }
                                </RowTemplate>
                                <PagerContent>
                                    <MudTablePager />
                                </PagerContent>
                            </MudTable>
                            <div class="d-flex flex-wrap mt-4">
                                <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Condensado</MudSwitch>
                                <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Alineado</MudSwitch>
                                <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordeado</MudSwitch>
                                <MudFab @onclick="SaveFavorite" Style="justify-content: flex-end" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Favorite" Label="Favorito" />
                            </div>
                        }
                        else
                        {
                            <p>No hay información para mostrar.</p>
                        }
                    </MudTabPanel>
                    <MudTabPanel Text="Editor SQL">
                        <div>
                            <MudTextField @bind-Value="@Query" Text="@Query" T="string" Label="Editar query generado" Variant="Variant.Text" Lines="5" />
                        </div>
                        <div>
                            <MudButton @onclick="EditQuery" Class="my-6" Variant="Variant.Filled" Color="Color.Primary">Ejecutar</MudButton>
                        </div>
                    </MudTabPanel>
                    <MudTabPanel Text="Sumario">
                        @if (!string.IsNullOrEmpty(Summary))
                        {
                            <p Class="my-6">@Summary</p>
                        }
                    </MudTabPanel>
                </MudTabs>
            </MudItem>

            // Right column tabs
            <MudItem xs="4">
                <MudDrawer Open="@open" Anchor="Anchor.Right" ClipMode="DrawerClipMode.Always" Elevation="1" Breakpoint="Breakpoint.SmAndUp" Width="30%" Variant="@DrawerVariant.Persistent">
                    <MudTabs KeepPanelsAlive="true" Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                        <MudTabPanel Text="Esquema">
                            <p class="mb-6">Revisa las tablas y columnas de <b>@ActiveConnection.Name</b></p>
                            <MudTreeView T="string">
                                @foreach (var table in dbSchema.SchemaStructured)
                                {
                                    <MudTreeViewItem Value="@table.TableName">
                                        @foreach (var col in table.Columns)
                                        {
                                            <MudTreeViewItem Value="@col" />
                                        }
                                    </MudTreeViewItem>
                                }
                            </MudTreeView>
                        </MudTabPanel>
                        <MudTabPanel class="chat-drawer" Text="Chat">
                            @if (string.IsNullOrEmpty(config.GetValue<string>("Ollama_ENDPOINT")))
                            {
                                <p class="mb-6">Preguntale a la IA sobre los resultados de tus consultas.</p>
                                @foreach (var item in ChatHistory)
                                {
                                    @if (item.Role == ChatRole.User)
                                    {

                                        <MudCard Class="my-6">
                                            <MudCardContent>
                                                <p>Vos:</p>
                                                @item.Text
                                            </MudCardContent>
                                        </MudCard>
                                    }
                                    else if (item.Role == ChatRole.Assistant)
                                    {
                                        <MudCard Class="my-6">
                                            <MudCardContent>
                                                <p>Asistente:</p>
                                                @(new MarkupString(Markdown.ToHtml(item.Text!)))
                                            </MudCardContent>
                                        </MudCard>
                                    }
                                }
                                <EditForm Class="mb-6" Model="FmModel" OnSubmit="() => OnChat()">
                                    <div>
                                        <MudTextField @bind-Value="ChatPrompt" T="string" Label="Tu consulta" Variant="Variant.Text" Lines="5" />
                                    </div>
                                    <div>
                                        @if (!chatLoading)
                                        {
                                            <MudButton Class="my-6" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Primary">Enviar</MudButton>
                                            <MudButton Class="ml-16" Variant="Variant.Filled" ButtonType="ButtonType.Button" OnClick="ClearChat" Color="Color.Primary">Borrar</MudButton>
                                        }
                                        else
                                        {
                                            <MudProgressCircular class="my-6" Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                                        }
                                    </div>
                                </EditForm>
                            } 
                            else
                            {
                                <p>Sorry, the nested chat feature isn't available when Ollama is enabled due to context window and system prompt limitations. :(</p>
                            }
                        </MudTabPanel>
                        <MudTabPanel Text="Historial">
                            @if (History.Count > 0)
                            {
                                <p class="mb-6">Query history for <b>@ActiveConnection.Name</b></p>
                                <MudPaper>

                                    @foreach (var item in History)
                                    {
                                        <MudList Clickable="true">
                                            <MudListItem OnClick="() => LoadQuery(item.Query!)" Text="@item.Name" />
                                        </MudList>
                                    }
                                </MudPaper>

                            }
                            else
                            {
                                <p class="mb-6">Todavía no realizaste ninguna consulta.</p>
                            }
                        </MudTabPanel>
                        <MudTabPanel Text="Favoritos">
                            @if (Favorites.Count > 0)
                            {
                                <p class="mb-6">Tus consultas guardadas para <b>@ActiveConnection.Name</b></p>
                                <MudPaper>

                                    @foreach (var item in Favorites)
                                    {
                                        <MudList Clickable="true">
                                            <MudListItem OnClick="() => LoadQuery(item.Query!)" Text="@item.Name" />
                                        </MudList>
                                    }
                                </MudPaper>

                            }
                            else
                            {
                                <p class="mb-6">Todavía no guardaste ninguna consulta para <b>@ActiveConnection.Name</b>.</p>
                            }
                        </MudTabPanel>
                    </MudTabs>
                </MudDrawer>
            </MudItem>
        }
    </MudGrid>
</MudContainer>


@code {
    // Table styling
    private bool dense = false;
    private bool striped = true;
    private bool bordered = true;

    // Form data
    public FormModel FmModel { get; set; } = new FormModel();
    public string ChatPrompt = "";
    public string aiModel = "gpt-4o-mini";
    public string aiPlatform = "OpenAI";
    public string activeDatabase = "";

    // General UI data
    private bool Loading = false;
    private bool chatLoading = false;
    private string LoadingMessage = String.Empty;
    public AIConnection ActiveConnection { get; set; } = new();
    public DatabaseSchema dbSchema = new DatabaseSchema() { SchemaRaw = new List<string>(), SchemaStructured = new List<TableSchema>() };

    // Data lists
    public List<HistoryItem> History { get; set; } = new();
    public List<HistoryItem> Favorites { get; set; } = new();
    public List<List<string>> RowData = new();
    public List<AIConnection> Connections { get; set; } = new();
    public List<ChatMessage> ChatHistory = new();

    // Prompt & completion data
    private string Prompt = String.Empty;
    private string Summary = String.Empty;
    private string Query = String.Empty;
    private string Error = String.Empty;

    // UI Drawer stuff
    bool open = true;
    Anchor anchor;
    void ToggleDrawer(Anchor anchor)
    {
        open = !open;
        this.anchor = anchor;
    }

    protected override async Task OnInitializedAsync()
    {
        Connections = await connectionService.GetAIConnections();

        if (Connections.Count > 0)
        {
            ActiveConnection = Connections.First();
            activeDatabase = ActiveConnection.Name!;
            dbSchema = await dataService.GenerateSchema(ActiveConnection);
        }
        else
        {
            var connectionString = config.GetValue<string>("ConnectionString");
            if (connectionString is not null)
            {
                ActiveConnection = new AIConnection() { ConnectionString = connectionString, DatabaseType = "MSSQL", Name = "Principal" };
                await connectionService.AddConnection(ActiveConnection);
                activeDatabase = ActiveConnection.Name;
                dbSchema = await dataService.GenerateSchema(ActiveConnection);
            }
        }

        History = await queryService.GetQueries(ActiveConnection.Name!, QueryType.History);
        Favorites = await queryService.GetQueries(ActiveConnection.Name!, QueryType.Favorite);

    }

    private async Task SaveFavorite()
    {
        await queryService.SaveQuery(FmModel.Prompt, ActiveConnection.Name!, QueryType.Favorite);
        Favorites = await queryService.GetQueries(ActiveConnection.Name!, QueryType.Favorite);
        Snackbar.Add("Agregado a favoritos", Severity.Success);
    }

    private async Task EditQuery()
    {
        RowData = await dataService.GetDataTable(ActiveConnection, Query);
        Snackbar.Add("Resultados actualizados.", Severity.Success);
    }

    public async Task LoadDatabase(string databaseName)
    {
        ActiveConnection = (await connectionService.GetAIConnections()).First(x => x.Name == databaseName);
        dbSchema = await dataService.GenerateSchema(ActiveConnection);
        History = await queryService.GetQueries(ActiveConnection.Name!, QueryType.History);
        Favorites = await queryService.GetQueries(ActiveConnection.Name!, QueryType.Favorite);
        ClearUI();
    }

    private void ClearUI()
    {
        Prompt = String.Empty;
        Summary = String.Empty;
        Query = String.Empty;
        Error = String.Empty;
        RowData = new List<List<string>>();
        FmModel = new FormModel();
    }

    public async Task LoadQuery(string query)
    {
        FmModel.Prompt = query;
        await RunDataChat(query);
    }

    public async Task OnChat()
    {
        chatLoading = true;
        ChatHistory.Add(new ChatMessage(ChatRole.User, ChatPrompt));
        ChatPrompt = "";

        var result = await aiService.ChatPrompt(ChatHistory, aiModel, aiPlatform);

        ChatHistory.Add(new ChatMessage(ChatRole.Assistant, result.Message.Text));
        chatLoading = false;
    }

    public void ClearChat()
    {
        ChatHistory.Clear();
        ChatHistory.Add(new ChatMessage(ChatRole.System, "You are a helpful AI assistant. Provide helpful insights about the following data: " + JsonSerializer.Serialize(RowData)));
    }

    public async Task OnSubmit()
    {

        await RunDataChat(FmModel.Prompt);
    }

    public async Task RunDataChat(string Prompt)
    {
        try
        {
            Loading = true;
            ChatHistory.Clear();
            LoadingMessage = "Generando consulta SQL...";
            var aiResponse = await aiService.GetAISQLQuery(aiModel, aiPlatform, Prompt, dbSchema, ActiveConnection.DatabaseType!);

            Query = aiResponse.query;
            Summary = aiResponse.resumen;

            LoadingMessage = "Ejecutando consulta SQL...";
            RowData = await dataService.GetDataTable(ActiveConnection, aiResponse.query);
            ChatHistory.Add(new ChatMessage(ChatRole.System, "Eres un asistente de IA útil. Proporciona información útil sobre los siguientes datos: " + JsonSerializer.Serialize(RowData)));

            Loading = false;
            await queryService.SaveQuery(Prompt, ActiveConnection.Name!, QueryType.History);
            History = await queryService.GetQueries(ActiveConnection.Name!, QueryType.History);
            Favorites = await queryService.GetQueries(ActiveConnection.Name!, QueryType.Favorite);
            Error = string.Empty;
        }
        catch (Exception e)
        {
            Error = e.Message;
            Loading = false;
            LoadingMessage = String.Empty;
        }
    }
}
